ENV=local
# Options: pg, es, in_mem
STORAGE_TYPE=pg
PG_CONNECTION_STRING="postgres://news_user:news_password@localhost:54320/news_db?sslmode=disable"
DATASET_PATH=dataset/kaggle/gl_news_data.csv
MAPPING_CONFIG_PATH=configs/mappings/gl_news_data_mapping.yaml
BULK_ENABLED=true
BULK_SIZE=5000